name: Test tap-dbf

on:
  push:
    branches: [main]
    paths:
    - tap_dbf/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    branches: [main]
    paths:
    - tap_dbf/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

permissions:
  contents: read

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.28
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.34.1
  # renovate: datasource=pypi depName=tox-gh
  TOX_GH_VERSION: 1.6.1
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        - "3.15"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: ${{ env.UV_VERSION }}
    - name: Run
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox-gh==${{ env.TOX_GH_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox
